.a {
  color:#2F56AF;
}

.NavLink{
  all: inherit;
}
.wrapper_signin{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success_reg{
 margin-top: 15px;
  background-color: rgb(15, 218, 15);
  padding: 10px;
  border: 1px solid black;
}